body {
  box-sizing: border-box;
  margin: 0;
  font-size: 16px;
  color: black;
  font-family: verdana, sans-serif;
}

header {
  height: 80px;
}
img {
  max-width: 100%;
}

.title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin: 80px 0;
}

header h1 {
  text-align: center;
  margin-bottom: 0;
}

header ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin-top: 0;
}

header li {
  margin-left: 10px;
  margin-right: 10px;
}

header li a {
  color: black;
  text-decoration: none;
}

header li img {
  width:16px;
}

.top_img img {
  width: 100%;
  height: 420px;
  object-fit: cover;
}

.about {
  margin-bottom: 80px;
  padding: 0 4%;
}

.about .name {
  margin: 60px 0;
}

.about .detail ul {
  list-style-type: none;
  line-height: 25px;
  padding: 0;
}

.works {
  margin-bottom: 80px;
  padding: 0 4%;
}
.works .img {
  display: flex;
  justify-content: center;
}
.works .img ul {
  list-style-type: none;
  padding: 0;
}

.works img {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.news {
  margin-bottom: 80px;
  padding: 0 4%;
}

.news dt {
  margin-left: 15px;
  padding-top: 30px;
  border-top: #e0e0e0 solid 1px;
}

.news dd {
  margin: 0;
  padding: 5px 25px 30px;
}

.news dl > :last-child {
  border-bottom: #e0e0e0 solid 1px;
}

.form {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

form {
  margin: 0 10px;
}

.form dt {
  width: 150px;
  font-weight: bold;
}

.form dd {
  margin-left: auto;
  margin-right: auto;
}
.form dt label {
  border-left: #FF6701 solid 3px;
  padding-left: 10px;
}

.area div {
  margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
textarea {
  font-size: 15px;
  border-radius: 5px;
  border: solid 1px #e0e0e0;
  max-width: 250px;
  width: 100%;
}

.btn {
  text-align: center;
}

input[type="reset"] {
  background: #aaa;
  border: none;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 10px;
}

input[type="submit"] {
  background: #FF6701;
  border: none;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 10px;
}

input[type="submit"],
input[type="reset"]:hover {
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(68, 67, 67);
  margin-top: 100px;
  height: 30px;
  color: #e0e0e0;
  font-size: 10px;
}

@media (min-width: 600px) {
  header {
    display: flex;
    justify-content: space-between;
  }

  header h1 {
    margin: auto 30px;
  }

  header nav {
    margin: auto 10px;
  }

  header ul {
    margin: 0;
  }

  .works ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  } 

  .works li {
    width:32%;
  }

  .form {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 600px;
  }
  
  .form dt {
    width: 150px;
    font-weight: bold;
  }
  
  .form dt label {
    border-left: #FF6701 solid 3px;
    padding-left: 10px;
  }
  
  .area dd {
    margin-left: 30px;
  }

  .area div {
    display: flex;
    margin-bottom: 20px;
  }
}